body {
    padding-top: 5%;
}

#blog {
    width: 77%;
    background-color: lightblue;
    padding: 1%;
    border:3px solid grey;
    float: right;
}

#form {
    width: 80%;
    margin-left: 2%;
    background-color: lightblue;
    margin-top:2%;
    padding: 1%;
    top:5%;
    border:3px solid grey;
    float: right;
}

#personal {
    width: 90%;
    margin-left: 5%;
    background-color: lightblue;
    padding: 1%;
    border:3px solid grey;
    float:center;
    margin-top: 3%;
}

#profile {
    margin-left: 1rem;
    width:20%;
    background-color: lightblue;
    padding: 1%;
    border:3px solid grey;
}

#search {
    position: fixed;
    top: 0;
    padding: 1%;
}

#user {
    width: 100%;
    margin-left: 0%;
    background-color: rgb(128, 187, 197);
    position: fixed;
    padding: 1%;
    top:0;
    text-align: center;
}   

#zoekresultaat {
    width: 20%;
    margin-left: 1%;
    background-color: lightblue;
    padding: 1%;
    border:3px solid grey;
    float:left;
    margin-top: 5%;
}

.input-icon {
    position: relative;
}
  
  .input-icon > i {
    position: absolute;
    display: block;
    transform: translate(0, -50%);
    top: 50%;
    pointer-events: none;
    width: 25px;
    text-align: center;
    font-style: normal;
}
  
  .input-icon > input {
    padding-left: 25px;
    padding-right: 0;
}
  
  .input-icon-right > i {
    right: 0;
}
  
  .input-icon-right > input {
    padding-left: 0;
    padding-right: 25px;
    text-align: right;
}